In [1]:
from helper.data_handling import data_from_file
import numpy as np

def get_raw_data():
    return data_from_file("../data/stroke_raw.csv")

In [3]:

def insert_error(df, fault_perc):

    for col in df.columns:
        num_missing = int(len(df) * fault_perc)
        rows_missing = np.random.choice(df.index, num_missing, replace=False)
        cols_missing = np.random.choice(df.columns, num_missing, replace=True)
        for row, col in zip(rows_missing, cols_missing):
            df.at[row, col] = np.nan
    return df
    
    print("Inserting errors")

def impute_data(df):
    
    print("Imputing data")
    

insert_error(get_raw_data(), 0.2)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,NaN,67.0,NaN,1.0,NaN,Private,NaN,228.69,NaN,NaN,NaN
1,NaN,NaN,NaN,0.0,NaN,Self-employed,NaN,202.21,NaN,never smoked,NaN
2,NaN,80.0,NaN,1.0,NaN,NaN,Rural,105.92,NaN,never smoked,1.0
3,NaN,NaN,0.0,0.0,NaN,Private,Urban,NaN,34.4,NaN,NaN
4,Female,NaN,1.0,0.0,NaN,NaN,NaN,174.12,NaN,never smoked,1.0
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,NaN,NaN,NaN,NaN,NaN,Urban,83.75,NaN,never smoked,0.0
5106,NaN,NaN,0.0,0.0,NaN,NaN,Urban,125.20,NaN,NaN,NaN
5107,NaN,NaN,NaN,0.0,NaN,Self-employed,Rural,NaN,NaN,never smoked,NaN
5108,Male,NaN,NaN,NaN,Yes,NaN,Rural,NaN,25.6,NaN,0.0
5109,NaN,44.0,NaN,0.0,Yes,NaN,NaN,NaN,NaN,NaN,NaN